<h1>Graphs#hello</h1>
<p>sup</p>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= pie_chart({"Football" => 10, "Basketball" => 5}) %>
<%= line_chart Glycemy.group_by_day(:created_at).count %>