<!DOCTYPE html>

  <head>
   
</head>
<body>


<div class="panel panel-primary">

    <div class="panel-heading">

        <h3 class="panel-title">Diabetes Tracker</h3>

    </div>

    <div class="panel-body"></br></br>Diabetes tracker is a free web app that can help you manage your diabetes. </br> </br> 
    You can track your glycemies, injections, injection sites, appointments and more and then analyze your data with some cool graphs!</br></br>
    It's adapted to all your device, you can for example add your data on the go via your phone, upload CSV of your old data on the computer and show your results to your family and doctors with your tablet! It's all synchronized to your account and it works on all platform! </br> </br>
    Just sign up and start using this app for free!</div>

</div>
</body>
</html>