<h1>Injection site rotation</h1>
<p>You can check your daily injections sites here, the highlighted red and green dots will change every day to help you remember where you should inject next!</p>
<div id="textArea"></div>
<script language="javascript">
	days();
</script>
