// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel-primary {
    border-color: #428BCA;
}

.panel {
    background-color: #FFFFFF;
   /*border: 1px solid rgba(0, 0, 0, 0);*/
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.panel-primary > .panel-heading {
    background-color: #428BCA;
    border-color: #428BCA;
    color: #FFFFFF;
}

.panel-heading {
    /*/border-bottom: 1px solid rgba(0, 0, 0, 0);*/
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}

.panel-title {
    color: inherit;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
}

.panel-body:before, .panel-body:after
{
    content: " ";
    display: table;
}

.panel-body:after
{
clear: both;
}